* {
  outline: 2px solid black;
  margin: 0;
  padding: 0;
}

.main {
  background-color: lightgreen;
  margin: 10px;
  /* outline: 2px solid black; */
  padding: 15px;
  
}

.first_card {
  background-color: lightblue;
  margin: 12px;
  /* padding: 35px; */
  height: 70px;
  outline: 2px solid darkblue;
  display: flex;
}

.first_card_child {
  background-color: orange;
  /* height: 30px; */
  margin: 12px;
  padding: 10px;
  flex: 1;
  outline: 2px solid red;
  display: flex;
}

.childs_child {
  background-color: cyan;
  outline: 2px solid black;
  /* margin: 12px; */
  flex: 1;
}

.lower_card {
  padding: 6px 0 6px 0;
  display: flex;
}

.second_card {
  background-color: orange;
  margin: 12px;
  outline: 3px solid red;
  width: 50%;
  height: 200px;
}

.third_card {
  /* background-color: orange; */
  /* margin: 0 0px 0 8px; */
  /* outline: 3px solid red; */
  width: 50%;
}

.third_card_child {
  background-color: orange;
  outline: 3px solid red;
  padding: 45px;
  margin: 12px;
}

.children {
  margin-top: 18px;
}



.lowest_card{
  background-color: orange;
  margin: 5px;
  outline: 2px solid red;
  padding: 18px;
  display: flex;
}

.lowest_card_child{
 background-color: cyan;
 outline: 2px solid red; 
 padding: 20px;
 flex: 1;
 margin: 12px;
}

.lowest_card_childrens{
  background-color: white;
  flex: .5;
  margin: 12px 3px 12px 4px ;
  /* padding: 0; */
  outline: 2px solid black;
}

.trail{
  /* background-color: lightcoral; */
  /* outline: 2px solid black; */
  display: flex;
  /* flex: 1; */
  
}

/* .description{
  dis
} */


.image{
  display: inline-block;

}

.image_center{
  text-align: center;
}


.para , .para2{
  color:black;
  padding-top: 5px;
  line-height: 1.25;
  text-align: center;
  padding: 5px;
}

.para2{
  margin-top:5px ;
}


.heading{
  text-align: center;
}


.btn_main{
  font-size: 18px;
}

.btn{
  text-align: center;

}

.para_btn{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.btn a{
  display: inline-block;
  text-decoration: none;
  color: black;
  background-color: red;
  margin: 12px;
  font-size: 24px;
  border-radius: 3px;
  padding: 5px;
  border: 2px solid rgba(0, 0, 0, 0.514);
}



.card1 ,
.card2 ,
.card3,
.card4,
.card5,
.card6 {
  margin: 5px;
  padding: 10px;
  /* display: flex; */
  outline: 2px solid black;
}


.card4{
  display: block;
}

